/* #region MAIN_ORGANISATION */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{

    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* #endregion */


/* #region GRID */

#grid{
    display: grid;
}
/* #endregion */

/* #region CASES */

.case{
    border: rgba(49, 49, 49, 0.705) .5px solid;
    width: 3.8vw;
    height: 3.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 3vw;
}


.nb0{
    background-color: rgb(243, 243, 154);
}
.nb1{
    color: blue;
}
.nb2{
    color: green;
}
.nb3{
    color: red;
}
.nb4{
    color: orange;
}
.nb5{
    color: magenta;
}
.nb6{
    color: blue;
}
.nb7{
    color: darkmagenta;
}
.nb8{
    color: salmon;
}
/* #endregion */

/* #region HIDDEN */

.hidden{
    background-color: orange;
}

/* #endregion */

/* #region FLAG */

.flag{
    background-image: url("../img/flag.png");
    background-size: cover;
}

/* #endregion */

/* #region BOMBS */
.bombCase{
    background-color: red;
}

/* #endregion */


/* #region ATH */

#hud{
    background-color: black;
    width: 100%;
    height: 10vh;
}


/* #endregion */


@media only screen and (min-width: 800px) {
    .case{
        border: rgba(49, 49, 49, 0.705) 1px solid;
        width: 30px;
        height: 30px;
        font-size: 2.2vw;
    }
  }